<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Nest Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" /> 
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/imgs/theme/favicon.svg" />
    <!-- Template CSS -->
    <link href="/assets/css/main.css?v=1.1" rel="stylesheet" type="text/css" />
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>



</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="" class="brand-wrap">
                <img src="/assets/imgs/theme/logo.svg" class="logo" alt="Nest Dashboard" />
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"><i
                        class="text-muted material-icons md-menu_open"></i></button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item active">
                    <a class="menu-link" href="">
                        <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/users">
                        <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Users</span>
                    </a>

                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/category">
                        <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Categoty</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/products">
                        <i class="icon material-icons md-store"></i>
                        <span class="text">products</span>
                    </a>
                    
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/orders">
                        <i class="icon material-icons md-store"></i>
                        <span class="text">Orders</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/coupon">
                        <i class="icon material-icons md-store"></i>
                        <span class="text">Coupon</span>
                    </a>
                </li>
                
            <br />
            <br />
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term" />
                        <button class="btn btn-light bg" type="button"><i class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products"></option>
                        <option value="New orders"></option>
                        <option value="Apple iphone"></option>
                        <option value="Ahmed Hassan"></option>
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"><i
                        class="material-icons md-apps"></i></button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                            <span class="badge rounded-pill">3</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i
                                class="material-icons md-cast"></i></a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage"
                            aria-expanded="false"><i class="material-icons md-public"></i></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                            <a class="dropdown-item text-brand" href="#"><img src="/assets/imgs/theme/flag-us.png"
                                    alt="English" />English</a>
                            <a class="dropdown-item" href="#"><img src="/assets/imgs/theme/flag-fr.png"
                                    alt="Français" />Français</a>
                            <a class="dropdown-item" href="#"><img src="/assets/imgs/theme/flag-jp.png"
                                    alt="Français" />日本語</a>
                            <a class="dropdown-item" href="#"><img src="/assets/imgs/theme/flag-cn.png"
                                    alt="Français" />中国人</a>
                        </div>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount"
                            aria-expanded="false"> <img class="img-xs rounded-circle"
                                src="/assets/imgs/people/avatar-2.png" alt="User" /></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit
                                Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account
                                Settings</a>
                            <a class="dropdown-item" href="#"><i
                                    class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help
                                </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="#"><i
                                    class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Order detail</h2>
                        <p>Details for Order ID: 3453012</p>
                    </div>
                </div>
                <div class="card">
                    <header class="card-header">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                                <span> <i class="material-icons md-calendar_today"></i> <b>Wed, Aug 13, 2020, 4:34PM</b> </span> <br />
                                <small class="text-muted">Order ID: 3453012</small>
                            </div>
                            <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                                <select class="form-select d-inline-block mb-lg-0 mr-5 mw-200">
                                    <option>Change status</option>
                                    <option>Awaiting payment</option>
                                    <option>Confirmed</option>
                                    <option>Shipped</option>
                                    <option>Delivered</option>
                                </select>
                                <a class="btn btn-primary" href="#">Save</a>
                                <a class="btn btn-secondary print ms-2" href="#"><i class="icon material-icons md-print"></i></a>
                            </div>
                        </div>
                    </header>
                    <!-- card-header end// -->
                    <div class="card-body">
                        <div class="row mb-50 mt-20 order-info-wrap">
                            <div class="col-md-4">
                                <article class="icontext align-items-start">
                                    <span class="icon icon-sm rounded-circle bg-primary-light">
                                        <i class="text-primary material-icons md-person"></i>
                                    </span>
                                    <div class="text">
                                        <h6 class="mb-1">Customer</h6>
                                        <p class="mb-1">
                                            <%=address.name%> <br />
                                            <%=address.email%> <br />
                                            <%=address.phone%> <br />
                                        </p>
                                    </div>
                                </article>
                            </div>
                            <!-- col// -->
                            <div class="col-md-4">
                                <article class="icontext align-items-start">
                                    <span class="icon icon-sm rounded-circle bg-primary-light">
                                        <i class="text-primary material-icons md-local_shipping"></i>
                                    </span>
                                    <div class="text">
                                        <h6 class="mb-1">Order info</h6>
                                        <p class="mb-1">
                                            Total Amount:<%=orderData.subtotal%> <br />
                                            payment:<%=orderData.payment%> <br />

                                        </p>
                                    </div>
                                </article>
                            </div>
                            <!-- col// -->
                            <div class="col-md-4">
                                <article class="icontext align-items-start">
                                    <span class="icon icon-sm rounded-circle bg-primary-light">
                                        <i class="text-primary material-icons md-place"></i>
                                    </span>
                                    <div class="text">
                                        <h6 class="mb-1">Deliver to</h6>
                                        <p class="mb-1">
                                            City: <%=address.city%> <br /><%=address.address%><br />
                                            Pincode:<%=address.pincode%>
                                        </p>
                                    </div>
                                </article>
                            </div>
                            <!-- col// -->
                        </div>
                        <!-- row // -->
                        <div class="row">
                            <p class="text-center">ORDERED PRODUCTS</p>
                            <div class="col-lg-12">
                                <div class="table-responsive" id="reloadDiv">
                                    <%if(orderData.products.length>0) {%>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th width="20%">Product</th>
                                                <th width="20%">Name</th>
                                                <th width="20%">Unit Price</th>
                                                <th width="20%">Quantity</th>
                                                <th width="20%">Total</th>
                                                <th width="20%">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% orderData.products.forEach((product, index) => { %>
                                                <tr>
                                                    <td>
                                                        <a class="itemside">
                                                            <div class="left">
                                                                <img src="/sharpimages/<%= product.productId.images.image1 %>" width="40" height="40" class="img-xs" alt="Item" />
                                                            </div>
                                                            <td><div class="info"><%= product.productId.name %></div></td>
                                                        </a>
                                                    </td>
                                                    <td><%= product.productId.price %></td>
                                                    <td><%= product.quantity %></td>
                                                    <td><%= product.totalPrice %></td>
                                                    <td>
                                                        <select class="statusSelect" id="<%=orderData._id%><%=product._id%>" onchange="status('<%=orderData._id%>', '<%=product._id%>')">
                                                            <option value="placed" <% if (product.productStatus == 'placed') { %> selected <% } %>>placed</option>
                                                            <option value="out-for-delivery" <% if (product.productStatus == 'out-for-delivery') { %> selected <% } %>>out for delivery</option>
                                                            <option value="shipped" <% if (product.productStatus == 'shipped') { %> selected <% } %>>shipped</option>
                                                            <option value="delivered" <% if (product.productStatus == 'delivered') { %> selected <% } %>>delivered</option>
                                                        </select>
                                                     </td>
                                                    </tr>
                                                    <% }); %>
                                                </tbody>
                                                <%}else{%>
                                                    <p class="text-center">no Ordered Products</p>
                                                    <%}%>
                                            </table>
                                </div>
                                <!-- table-responsive// -->
                            </div>
                        </div><br><br>
<%console.log(returned)%>
                        <!-- table for cancel -->
                        <%if(cancelled.length>0) {%>
                        <p class="text-center">CANCELED PRODUCTS</p>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="table-responsive" id="reloadDiv">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th width="20%">Product</th>
                                                <th width="20%">Name</th>
                                                <th width="20%">Unit Price</th>
                                                <th width="20%">Quantity</th>
                                                <th width="20%">Total</th>
                                                <th width="20%">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% cancelled.forEach((product, index) => { %>
                                                <tr>
                                                    <td>
                                                        <a class="itemside">
                                                            <div class="left">
                                                                <img src="/sharpimages/<%= product.productDetails.images.image1 %>" width="40" height="40" class="img-xs" alt="Item" />
                                                            </div>
                                                            <td><div class="info"><%= product.productDetails.name %></div></td>
                                                        </a>
                                                    </td>
                                                    <td><%= product.productDetails.price %></td>
                                                    <td><%= product.quantity %></td>
                                                    <td><%= product.productDetails.price * product.quantity %></td>
                                                    <td><span style="background-color: red;"><%=product.productStatus%></span></td>
                                                </tr>
                                            <% }); %>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- table-responsive// -->
                            </div>
                        </div> <br><br>
                        <%}%>
                        <!-- table for return -->
                        <%if(returned.length>0) {%>
                        <p class="text-center">RETURNED PRODUCTS</p>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="table-responsive" id="reloadDiv">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th width="20%">Product</th>
                                                <th width="20%">Name</th>
                                                <th width="20%">Unit Price</th>
                                                <th width="20%">Quantity</th>
                                                <th width="20%">Total</th>
                                                <th width="20%">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% returned.forEach((product, index) => { %>
                                                <tr>
                                                    <td>
                                                        <a class="itemside">
                                                            <div class="left">
                                                                <img src="/sharpimages/<%= product.productDetails.images.image1 %>" width="40" height="40" class="img-xs" alt="Item" />
                                                            </div>
                                                            <td><div class="info"><%= product.productDetails.name %></div></td>
                                                        </a>
                                                    </td>
                                                    <td><%= product.productDetails.price %></td>
                                                    <td><%= product.quantity %></td>
                                                    <td><%= product.productDetails.price * product.quantity %></td>
                                                    <td><span style="background-color: aqua;"><%=product.productStatus%></span></td>
                                                </tr>
                                            <% }); %>
                                        </tbody>
                                    </table>
                               
                                <!-- table-responsive// -->
                            </div>
                        </div>
                        <%}%>
                    <!-- card-body end// -->
                </div>
                </div>
                <!-- card end// -->
            </section>
            <!-- content-main end// -->
            <footer class="main-footer font-xs">
                <div class="row pb-30 pt-15">
                    <div class="col-sm-6">
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        &copy; Nest - HTML Ecommerce Template .
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end">All rights reserved</div>
                    </div>
                </div>
            </footer>
        </main>


        <script>
                    function status(id, productId) {
                        console.log('iddddddddd',id );
                        const statusElementId = `${id}${productId}`;
                        const status = document.getElementById(statusElementId).value;
                        console.log(status,'statttttttttt');
                        $.ajax({
                            url: '/admin/updatestatus',
                            type: 'POST',
                            data: {
                                newStatus: status,
                                productId:productId
                            },
                            success: function (response) {
                                if(response.success){
                                    $("#reloadDiv").load(`/admin/showorder?id=${id} #reloadDiv`);
                                    // location.reload()
                                }
                            },
                            error: function (error) {
                                console.error('Error updating status:', error);
                            }
                        });
                    }
                </script>

        <script src="/assets/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="/assets/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="/assets/js/vendors/select2.min.js"></script>
        <script src="/assets/js/vendors/perfect-scrollbar.js"></script>
        <script src="/assets/js/vendors/jquery.fullscreen.min.js"></script>
        <!-- Main Script -->
        <script src="/assets/js/main.js?v=1.1" type="text/javascript"></script>
    </body>
</html>