<%- include('../layouts/header.ejs') -%>

    <!-- Shopping Cart Section Start -->
    <div  id="reloadDiv">
    <div class="section section-padding">
        <div class="container"><br><hr><br><br><br><br>
            <div class="cart-wrapper">
                <% if (data && data.product && data.product.length > 0) { %>
                    <!-- Cart Wrapper Start -->
                    <div class="cart-table table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="product-thumb">Image</th>
                                    <th class="product-info">
                                        product Information
                                    </th>
                                    <th class="product-quantity">Quantity</th>
                                    <th class="product-total-price">
                                        Total Price
                                    </th>
                                    <th class="product-action">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <%console.log('dataaaaa',data,'dataaaaaaaaa')%>
                                <% data.product.forEach(function(product, index) { %>
                                    <tr>
                                        <td class="product-thumb">
                                            <a href="/detailshop?id=<%=product.productId._id%>"><img src="multerimages/<%= product.productId.images.image1 %>" alt="" /></a>
                                        </td>
                                        <td class="product-info">
                                            <h6 class="name">
                                                <a href="">
                                                    <%= product.productId.name %>
                                                </a>
                                            </h6>
                                            <div class="product-prices">
                                                <span class="sale-price">₹<%= product.productId.discountedPrice ? product.productId.discountedPrice : product.productId.price %></span>
                                                <span class="old-price">
                                                    <%= product.productId.discountedPrice ? '₹' + product.productId.price : '' %>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="quantity">
                                            <div class="product-quantity d-inline-flex">
                                                <button type="button" class="sub"
                                                    onclick="updateQuantity('<%= product.productId._id %>', -1)">
                                                    -
                                                </button>
                                                <input type="text" value="<%= product.quantity %>" disabled required />
                                                <button type="button" class="add"
                                                    onclick="updateQuantity('<%= product.productId._id %>', 1)">
                                                    +
                                                </button>
                                            </div>


                                        </td>
                                        <td class="product-total-price">
                                            <span class="price">
                                                <%=product.totalPrice%>
                                            </span>
                                        </td>
                                        <td class="product-action">
                                            <button class="remove" id="closeButton"
                                                onclick="removeProduct('<%= product.productId._id %>','<%=id%>')">
                                                <i class="pe-7s-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <% }); %>
                            </tbody>
                        </table>
                    </div>
                    <!-- Cart Wrapper End -->
                    <!-- Cart btn Start -->
            </div>
            <div class="row">     
                <div class="col-lg-4">
                    <!-- Cart Totals Start -->
                    <div class="cart-totals">
                        <div class="cart-title">
                            <h4 class="title">Cart totals</h4>
                        </div>
                        <div class="cart-total-table">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p class="value">Subtotal</p>
                                        </td>
                                        <td>
                                            <p class="price">₹<%=subtotal%></p>
                                        </td>
                                    </tr>
                                    <tr>
                                            <td>
                                                <p class="value">Shipping Type</p>
                                            </td>
                                        <tr class="summary-shipping-row">
                                            <td>
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" id="free-shipping" name="shipping" class="custom-control-input" onclick="addShipping('free-shipping', 0)" <% if (data.shippingAmount == 0) { %>checked<% } %>>
                                                    <label class="custom-control-label" for="free-shipping">Free Shipping</label>
                                                </div>
                                            </td>
                                            <td>₹0.00</td>
                                        </tr>               
                                        <tr class="summary-shipping-row">
                                            <td>
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" id="standart-shipping" name="shipping" class="custom-control-input" onclick="addShipping('standart-shipping', 30)" <% if (data.shippingAmount == 30) { %>checked<% } %>>
                                                    <label class="custom-control-label" for="standart-shipping">Standard:</label>
                                                </div>
                                            </td>
                                            <td>₹30.00</td>                                        
                                         </tr>
                                        <tr class="summary-shipping-row">
                                            <td>
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" id="standart-shipping" name="shipping" class="custom-control-input" onclick="addShipping('express-shipping', 60)" <% if (data.shippingAmount == 60) { %>checked<% } %>>
                                                    <label class="custom-control-label" for="standart-shipping">Express:</label>
                                                </div>
                                            </td>
                                            <td>₹60.00</td>                                        
                                         </tr>
                                    <tr>
                                        <td>
                                            <p class="value">Total</p>
                                        </td>
                                        <td>
                                            <p class="price">₹<%=total%></p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="cart-total-btn">
                            <a href="/checkout" class="btn btn-dark btn-hover-primary btn-block">Proceed To Checkout</a>
                        </div>
                    </div>
                    <!-- Cart Totals End -->
                    <% }else { %>
                        <div class="container">
                            <div class="cart-wrapper">
                                <!-- empty cart Start -->
                                <div class="empty-cart text-center">
                                    <h2 class="empty-cart-title">
                                        There are no more items in your cart
                                    </h2>
                                    <div class="empty-cart-img">
                                        <img src="asset/images/cart.png" alt="Cart" />
                                    </div>
                                    <p>Your cart is currently empty!</p>
                                    <a href="/shop" class="btn btn-primary btn-hover-dark"><i class="fa fa-angle-left"></i> Continue
                                        browsing</a>
                                </div>
                                <!-- empty cart End -->
                            </div>
                        </div>
                        <% } %>
                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>


    <!-- Shopping Cart Section End -->



    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script> -->

<script>
    function addShipping(option,amount){
        const data = {option,amount}
        $.ajax({
            method: 'POST',
            url: '/shippingamount', 
            data: JSON.stringify(data),
            contentType: 'application/json',
            success: function (response) {
                if(response.success===true){
                    $('#reloadDiv').load('/showcart #reloadDiv'); 
                }else{
                 
                }
            },
            error: function (error) {

                console.error(error);
            }
        });
    }
</script>    

    <script>
        function updateQuantity(productId, count) {
            const data = { productId, count };
            $.ajax({
                url: '/updatecart',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),   
                success: (response) => {
                    if (response.success) {
                        $("#reloadDiv").load("/showcart #reloadDiv");
                    } else {
                        swal.fire({
                            icon: "info",
                            title: "Oops...",
                            text:response.message,
                        });
                    }
                },
                error: (error) => {
                    console.error('Error updating cart:', error);
                }
            });
        }

    </script>

    <script>
        function removeProduct(productId, userId) {
            const data = { productId, userId };

            // Display a confirmation dialog
            Swal.fire({
                title: 'Are you sure?',
                text: 'This product will be removed',
                icon: 'question',
                reverseButtons: true,
                confirmButtonText: 'Yes',
                showCancelButton: true,
                confirmButtonColor: '#1e6e2c',
                cancelButtonColor: '#97a399',
            }).then((result) => {
                // If the user clicks "Yes"
                if (result.isConfirmed) {
                    // Make the fetch request
                    fetch('/removecart', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(data),
                    })
                        .then(response => response.json())
                        .then(response => {
                            if (response.success) {
                                location.reload();
                            }
                        })
                        .catch(error => console.error('Fetch error:', error));
                }
            });
        }


    </script>

    <%- include('../layouts/footer.ejs') -%>