<%- include('../layouts/header.ejs') -%>



<!-- Page Banner Section Start -->
<div class="section page-banner-section" style="background-image: url(asset/images/page-banner.jpg)">
    <div class="container">
        <!-- Page Banner Content End -->
        <div class="page-banner-content">
            <h2 class="title">Checkout</h2>

            <ul class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">Checkout</li>
            </ul>
        </div>
        <!-- Page Banner Content End -->
    </div>
</div>
<!-- Page Banner Section End -->

<!-- Checkout Section Start -->
<div class="section section-padding">
    <div class="container">
        <div class="checkout-info">
            <p class="info-header">
                <i class="fa fa-exclamation-circle"></i> Have a coupon?
                <a data-bs-toggle="collapse" href="#coupon">Click here to enter your code</a>
            </p>

            <div class="collapse" id="coupon">
                <div class="card-body">
                    <form action="#" method="">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="single-form">
                                    <input type="email" placeholder="Coupon code" />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="single-form">
                                    <button class="btn btn-primary btn-hover-dark">
                                        Coupon
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        
            <form  id="form" action="/checkoutform" method="post">
                <div class="row">
                    <div class="col-lg-7">
                    <% if (address && address.address && address.address.length > 0) { %>
                        <div class="row">
                            <% address.address.forEach(function(address, index) { %>
                                <div class="col-lg-6"><br><br>
                                    <div class="card card-dashboard">
                                        <div class="card-body">
                                            <input type="radio" name="address" value="<%= index %>" >
                                            <h3 class="card-title">Address <%= index + 1 %></h3>
                                            <p>Name: <%= address.fullName %><br>
                                            Email: <%= address.email %><br>
                                            Mobile: <%= address.mobile %><br>
                                            State: <%= address.state %><br>
                                            City: <%= address.city %><br>
                                            House Name: <%= address.houseName %><br>
                                            Pincode: <%= address.pin %><br>
                                            <a href="/editAddress?ind=<%= index %>" >Edit <i class="icon-edit"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <% }); %>
                            </div>
                            </div>
                        <% } else { %>
                                <div class="col-lg-6">
                                                    <!-- Checkout Form Start -->
                                                    <div class="checkout-form">
                                                        <div class="checkout-title">
                                                            <h4 class="title">Add Address</h4>
                                                        </div>
                                
                                
                                                        <div class="row" >
                                                            <div class="col-sm-12">
                                                                <div class="single-form">
                                                                    <input type="text" name="name" placeholder="Name *" />
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12">
                                                                <div class="single-form">
                                                                    <label class="form-label">address *</label>
                                                                    <input type="text" name="address" placeholder="Address" />
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12">
                                                                <div class="single-form">
                                                                    <input type="text" name="Landmark" placeholder="Landmark *" />
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12">
                                                                <div class="single-form">
                                                                    <input type="text" name="state" placeholder="State *" />
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12">
                                                                <div class="single-form">
                                                                    <input type="text" name="city" placeholder="Town / City *" />
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12">
                                                                <div class="single-form">
                                                                    <input type="text" name="pincode" placeholder="Pincode *" />
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="single-form">
                                                                    <input type="text" name="phone" placeholder="Phone *" />
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="single-form">
                                                                    <input type="text" name="email" placeholder="Email address *" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Checkout Form End -->
                                                </div>
                                            </div><!-- End .row -->                                   
                                            <% } %>
                <div class="col-lg-5">
                    <div class="checkout-order">
                        <div class="checkout-title">
                            <h4 class="title">Your Order</h4>
                        </div>

                        <div class="checkout-order-table table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>

                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td class="Product-name">
                                            <p>Subtotal</p>
                                        </td>
                                        <td class="Product-price">
                                            <p>$150.00</p>                
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="Product-name">
                                            <p>Shipping</p>
                                        </td>
                                        <td class="Product-price">
                                            <ul class="shipping-list">
                                                <li class="radio">
                                                    <input type="radio" name="shipping" id="radio1" checked />
                                                    <label for="radio1"><span></span>
                                                        Flat Rate</label>
                                                </li>
                                                <li class="radio">
                                                    <input type="radio" name="shipping" id="radio2" />
                                                    <label for="radio2"><span></span>
                                                        Free
                                                        Shipping</label>
                                                </li>
                                                <li class="radio">
                                                    <input type="radio" name="shipping" id="radio3" />
                                                    <label for="radio3"><span></span>
                                                        Local
                                                        Pickup</label>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="Product-name">
                                            <p>Total</p>
                                        </td>
                                        <td class="total-price">
                                            <p>$600.00</p>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>

                        <div class="checkout-payment">

                            <div class="single-form">
                                <button type="submit" class="btn btn-primary btn-hover-dark d-block">Place Order</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
                
    </div><br><br>
<!-- Checkout Section End -->

<%- include('../layouts/footer.ejs') -%>
