<%- include('../layouts/header.ejs') -%>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


    <div class="section page-banner-section" style="background-image: url(asset/images/page-banner.jpg)">
        <div class="container">
            <!-- Page Banner Content End -->
            <div class="page-banner-content">
                <h2 class="title">Detail view</h2>

                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">My Account</li>
                </ul>
            </div>
            <!-- Page Banner Content End -->
        </div>
    </div>

    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th,
        td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>

    <div class="container">
        <div class="row">
            <h3 class="mt-3">ORDER DETAILS</h3>
            <div id="reloadArea">

                <div class="card card-dashboard mt-3" style="max-width: 350px; flex: 1;">
                    <div class="card-body">
                        <h4 class="name">OrderId: <%= orderData._id %>
                        </h4>
                        <p><b>Date:</b>
                            <%= orderData.orderDate.toLocaleDateString('en-GB') %>
                                <br><b>Payment Method:</b>
                                <%= orderData.payment %><br>
                                    <b>Address:</b>
                                    <%= orderData.delivery_address.name %>,<%= orderData.delivery_address.address %>
                                            <br>
                        </p>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <% if (orderData.products.length> 0) { %>
        <div class="container mt-5">
            <h3 class="mb-4">Ordered Products</h3>
            <% orderData.products.forEach(function(product, index) { %>
                <div class="card mt-3">
                    <div class="card-body d-flex justify-content-start">
                        <div class="product-card d-flex">
                            <div class="product-image">
                                <a href="/detailshop?id=<%= product.productId._id %>">
                                    <img src="sharpimages/<%= product.productId.images.image1 %>" alt=""
                                        class="img-thumbnail" style="max-height: 250px; max-width: 230px;">
                                </a>
                            </div>
                            <div class="mx-3" style="width: 180px;">
                                <h5 class="product-details"><a href="/detailshop?id=<%= product.productId._id %>">
                                        <%= product.productId.name %>
                                    </a></h5>
                                <p class="product-details">
                                    <%= product.productId.categoryId.name %> <br>
                                        Price: ₹<%= product.price %> <br>
                                            Quantity: <%= product.quantity %> <br>
                                                Total: ₹<%= product.totalPrice %> <br>
                                                    <% if (orderData.orderStatus !=='Cancelled' ||
                                                        product.productStatus==='Cancelled' ) { %>
                                                        <div class="cancelSection">
                                                            <input type="number" id="quantity" min="1"
                                                                max="<%= product.quantity %>"
                                                                class="form-control quantity" value="1"
                                                                inputmode="none">
                                                            <span id="error-message" class="error-text"></span>
                                                            <br>
                                                            <button class="cancel-btn"
                                                                onclick="validateAndCancel('<%= product.productId._id %>', '<%= orderData._id %>','<%= product.productStatus %>')"
                                                                <%=(product.productStatus==='out-for-delivery' ) ? 'disabled'
                                                                : '' %>>
                                                                <%= (product.productStatus==='delivered' )
                                                                    ? 'Return order' :
                                                                    (product.productStatus==='out-for-delivery' )
                                                                    ? 'No action' : 'Cancel order' %>
                                                            </button>
                                                        </div>
                                                        <% } %>
                                </p>
                            </div>
                        </div>
                        <%console.log(product.productStatus,"helo")%>
                        <div class="status-line">
                            <div class="line">
                                <div class="placed <%= (product.productStatus === 'shipped' || product.productStatus === 'out-for-delivery' || product.productStatus === 'delivered') ? 'green' : '' %>">
                                    <div class="status">Placed</div>
                                </div>
                                <div class="shipped <%= (product.productStatus === 'out-for-delivery' || product.productStatus === 'delivered') ? 'green' : '' %>">
                                    <div class="status">Shipped</div>
                                </div>
                                <div class="out-for-delivery <%= (product.productStatus === 'delivered') ? 'green' : '' %>">
                                    <div class="status">Out to Delivery</div>
                                </div>
                                <div class="delivered <%= (product.productStatus === 'delivered') ? 'green' : '' %>">
                                    <div class="status">Delivered</div>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                    <% }); %>
                </div>
                <% } %>




                    <% if (orderData.cancelledProduct && orderData.cancelledProduct.length> 0) { %>
                        <div class="container mt-5">
                            <h3 class="mb-4">Cancelled Products</h3>
                            <% orderData.cancelledProduct.forEach(function(cancelledProduct, index) { %>
                                <div class="card mt-3">
                                    <div class="card-body d-flex justify-content-start">
                                        <div class="cancelled-product-card d-flex">
                                            <div class="cancelled-product-image ">
                                                <a href="/detailshop?id=<%= cancelledProduct.productDetails._id %>">
                                                    <img src="sharpimages/<%= cancelledProduct.productDetails.images.image1 %>"
                                                        alt="" class="img-thumbnail"
                                                        style="max-height: 250px; max-width: 150px;">
                                                </a>
                                            </div>
                                            <div class="mx-3 " style="width: 180px;">
                                                <div class="product-details">
                                                    <h5 class="product-details"><a
                                                            href="/detailshop?id=<%= cancelledProduct.productDetails._id %>">
                                                            <%= cancelledProduct.productDetails.name %>
                                                        </a></h5>
                                                    <p>Price:₹ <%= cancelledProduct.productDetails.price %>
                                                            <br>Quantity: <%= cancelledProduct.quantity %>
                                                                <br>Status: <%= cancelledProduct.productStatus %>
                                                                    <br>Cancel Reason: <%= cancelledProduct.cancelReason
                                                                        %>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="status-cancel">
                                            <div class="line cancel">
                                                <div class="inner-line-1"></div>
                                                <div class="status">Packed</div>
                                            </div>
                                            <div class="line cancelLine">
                                                <div class="inner-line-2"></div>
                                                <div class="status">Cancelled</div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <% }); %>
                        </div>
                        <% } %>
                            <br><br>
                            <% if (orderData.returnedProduct && orderData.returnedProduct.length> 0) { %>
                                <div class="container mt-5">
                                    <h3 class="mb-4">Returned Products</h3>
                                    <% orderData.returnedProduct.forEach(function(returnedProduct, index) { %>
                                        <div class="card mt-3">
                                            <div class="card-body d-flex justify-content-start">
                                                <div class="cancelled-product-card d-flex">
                                                    <div class="cancelled-product-image ">
                                                        <a
                                                            href="/detailshop?id=<%= returnedProduct.productDetails._id %>">
                                                            <img src="sharpimages/<%= returnedProduct.productDetails.images.image1 %>"
                                                                alt="" class="img-thumbnail"
                                                                style="max-height: 250px; max-width: 150px;">
                                                        </a>
                                                    </div>
                                                    <div class="mx-3 " style="width: 180px;">
                                                        <div class="product-details">
                                                            <h5 class="product-details"><a
                                                                    href="/detailshop?id=<%= returnedProduct.productDetails._id %>">
                                                                    <%= returnedProduct.productDetails.name %>
                                                                </a></h5>
                                                            <p>Price:₹ <%= returnedProduct.productDetails.price %>
                                                                    <br>Quantity: <%= returnedProduct.quantity %>
                                                                        <br>Status: <%= returnedProduct.productStatus %>
                                                                            <br>return Reason: <%=
                                                                                returnedProduct.returnReason %>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="status-cancel">
                                                    <div class="line cancel" id="cancel">
                                                        <div class="inner-line-1"></div>
                                                        <div class="status">Packed</div>
                                                    </div>
                                                    <div class="line cancelLine" id="cancelLine">
                                                        <div class="inner-line-2"></div>
                                                        <div class="status">returned</div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <% }); %>
                                </div>
                                <% } %>
                            </div>
                                    <br><br>



                                    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

                                    <script>
                                        function validateAndCancel(productId, orderId, status) {
                                            console.log('reachwede');
                                            let quantityInput = document.getElementById('quantity');
                                            let quantityValue = parseInt(quantityInput.value, 10);

                                            if (quantityValue < parseInt(quantityInput.min, 10) || quantityValue > parseInt(quantityInput.max, 10)) {
                                                document.getElementById('error-message').innerText = 'Invalid quantity';
                                                return;
                                            }
                                            document.getElementById('error-message').innerText = '';
                                            if (status == 'delivered') {
                                                showReturnConfirmation(productId, orderId, quantityValue)
                                            } else {
                                                showCancelConfirmation(productId, orderId, quantityValue);
                                            }
                                        }
                                    </script>

                                    <script>
                                        function showReturnConfirmation(productId, orderId, count) {
                                            console.log('rech2');
                                            Swal.fire({
                                                title: 'Cancel Order',
                                                input: 'text',
                                                inputLabel: 'Reason for return',
                                                showCancelButton: true,
                                                confirmButtonText: 'return Order',
                                                cancelButtonText: 'Close',
                                                preConfirm: (reason) => {
                                                    if (!reason) {
                                                        Swal.showValidationMessage('Please enter a reason');
                                                    }
                                                    return reason;
                                                }
                                            }).then((result) => {
                                                if (result.isConfirmed) {
                                                    const returnReason = result.value;
                                                    returnProduct(productId, orderId, returnReason, count);
                                                }
                                            });
                                        }

                                        function returnProduct(productId, orderId, returnReason, count) {
                                            $.ajax({
                                                type: 'POST',
                                                url: '/returnorder',
                                                data: { productId, orderId, returnReason, count },
                                                success: function (response) {
                                                    if (response.success) {
                                                        Swal.fire('Cancel Canceled', 'Your order has been returned.', 'success').then(() => {
                                                            location.reload();
                                                            // $("#reloadDiv").load("/showcart #reloadDiv");
                                                        });
                                                    } else {
                                                        Swal.fire('Error', 'Failed to return the order.', 'error');
                                                    }
                                                },
                                                error: function (error) {
                                                    console.error('Error returnig order', error);
                                                }
                                            });
                                        }


                                        //cancelllllllllllllllllllll


                                        function showCancelConfirmation(productId, orderId, count) {
                                            console.log('rech2');
                                            Swal.fire({
                                                title: 'cancel Order',
                                                input: 'text',
                                                inputLabel: 'Reason for cancel',
                                                showCancelButton: true,
                                                confirmButtonText: 'cancel Order',
                                                cancelButtonText: 'Close',
                                                preConfirm: (reason) => {
                                                    if (!reason) {
                                                        Swal.showValidationMessage('Please enter a reason');
                                                    }
                                                    return reason;
                                                }
                                            }).then((result) => {
                                                if (result.isConfirmed) {
                                                    const cancelReason = result.value;
                                                    cancelProduct(productId, orderId, cancelReason, count);
                                                }
                                            });
                                        }

                                        function cancelProduct(productId, orderId, cancelReason, count) {
                                            $.ajax({
                                                type: 'POST',
                                                url: '/cancelorder',
                                                data: { productId, orderId, cancelReason, count },
                                                success: function (response) {
                                                    if (response.success) {
                                                        Swal.fire('Order Canceled', 'Your order has been canceled.', 'success').then(() => {
                                                            location.reload();
                                                            // $("#reloadDiv").load("/showcart #reloadDiv");
                                                        });
                                                    } else {
                                                        Swal.fire('Error', 'Failed to cancel the order.', 'error');
                                                    }

                                                },
                                                error: function (error) {
                                                    console.error('Error canceling order', error);
                                                }
                                            });
                                        }



                                    </script>






                                    <%- include('../layouts/footer.ejs') -%>