<%- include('../layouts/header.ejs') -%>

<div class="section page-banner-section" style="background-image: url(asset/images/page-banner.jpg)">
    <div class="container">
        <!-- Page Banner Content End -->
        <div class="page-banner-content">
            <h2 class="title">Detail view</h2>

            <ul class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">My Account</li>
            </ul>
        </div>
        <!-- Page Banner Content End -->
    </div>
</div>

<style>
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }

    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }

  </style>
 
<div class="container">
    <div class="row">
    <h3 class="mt-3">ORDER DETAILS</h3>
      <div id="reloadArea" style="display: flex;">
  
        <div class="card card-dashboard mt-3" style="max-width: 250px; flex: 1;">
          <div class="card-body">
            <h4 class="account-title">Order summary</h4>
            <h6 class="name">OrderId: <%= orderData._id %></h6>
            <p>Date: <%= orderData.orderDate %><br>
              Payment Method: <%= orderData.payment %><br>
              Total Amount: <%= orderData.subtotal %><br>
              Status: <%= orderData.status %><br>
              <% if (orderData.status === "Cancelled") { %>Cancel Reason: <%= orderData.cancelReason %><% } %>
            </p>

          </div>
        </div>
  
        <div class="card card-dashboard mt-3 mx-3"  style="max-width: 250px; flex: 1;">
          <div class="card-body">
            <h4 class="account-title">Delivery Address</h4>
            <h6 class="name">Name: <%= orderData.delivery_address.name %></h6>
            <p>Address: <%= orderData.delivery_address.address %><br>
              Landmark: <%= orderData.delivery_address.landmark %><br>
              State: <%= orderData.delivery_address.state %><br>
              City: <%= orderData.delivery_address.city %><br>
              Pincode: <%= orderData.delivery_address.pincode %><br>
              Phone: <%= orderData.delivery_address.phone %><br>
              Email: <%= orderData.delivery_address.email %><br>
            </p>
          </div>
        </div>
        
      </div>
    </div>
  </div><br>
  <%console.log(orderData,"dataa")%>

  

  <% if (orderData.products.length > 0) { %>
    <div class="container mt-5">
        <h3 class="mb-4">PRODUCTS</h3>
        <div class="card mt-3">
            <div class="card-body d-flex justify-content-start">
                <% orderData.products.forEach(function(product, index) { %>
                    <div class="product-card mt-3">
                        <div class="product-image">
                            <a href="/detailshop?id=<%= product.productId._id %>">
                                <img src="sharpimages/<%= product.productId.images.image1 %>" alt="" class="img-thumbnail" style="max-height: 50px; max-width: 50px;">
                            </a>
                        </div>
                        <div class="product-details">
                            <h5 class="product-name"><a href="/detailshop?id=<%= product.productId._id %>"><%= product.productId.name %></a></h5>
                            <p class="product-category"><%= product.productId.categoryId.name %></p>
                            <p class="product-price">₹<%= product.price %></p>
                            <p class="product-quantity"><%= product.quantity %> units</p>
                            <p class="product-total">Total: ₹<%= product.totalPrice %></p>
                            <div class="cancel-section">
                                <% if (orderData.status !== 'Cancelled' || product.productStatus === 'Cancelled') { %>
                                    <input type="number" min="1" max="<%= product.quantity %>" id="quantity" value="1" class="form-control input-sm" inputmode="none">
                                    <p id="error-message" class="error-text"></p>
                                    <button class="mt-2 cancel-btn" onclick="validateAndCancel('<%= product.productId._id %>', '<%= orderData._id %>')">Cancel order</button>
                                <% } %>
                            </div>
                        </div>
                    </div>
                <% }); %>
                <div class="status-line">
                    <div class="line" id="packedLine">
                      <div class="inner-line-1"></div>
                      <div class="status">Packed</div>
                    </div>
                    <div class="line" id="shippedLine">
                      <div class="inner-line-2"></div>
                      <div class="status">Shipped</div>
                    </div>
                    <div class="line delivered">
                      <div class="inner-line-3"></div>
                      <div class="status">Delivered</div>
                    </div>
                    <div class="line out">
                      <div class="inner-line-4"></div>
                      <div class="status">Out for Delivery</div>
                    </div>
                  </div>
                  
                
            </div>
        </div>
    </div>
<% } %>
<script>
const packedLine = document.getElementById('packedLine');
const shippedLine = document.getElementById('shippedLine');

// Add the classes to the elements
packedLine.classList.add('packed');
shippedLine.classList.add('shipped');
</script>

<% if (orderData.cancelledProduct && orderData.cancelledProduct.length > 0) { %>
    <div class="container mt-5">
        <h3 class="mb-4">Cancelled Products</h3>
        <div class="card mt-3">
            <div class="card-body">
                <% orderData.cancelledProduct.forEach(function(cancelledProduct, index) { %>
                    <div class="cancelled-product-card mt-3">
                        <div class="cancelled-product-image">
                            <a href="/detailshop?id=<%= cancelledProduct.productDetails._id %>">
                                <img src="sharpimages/<%= cancelledProduct.productDetails.images.image1 %>" alt="" class="img-thumbnail" style="max-height: 50px; max-width: 50px;">
                            </a>
                        </div>
                        <div class="cancelled-product-details">
                            <h5 class="cancelled-product-name"><a href="/detailshop?id=<%= cancelledProduct.productDetails._id %>"><%= cancelledProduct.productDetails.name %></a></h5>
                            <p class="cancelled-product-price">₹<%= cancelledProduct.productDetails.price %></p>
                            <p class="cancelled-product-quantity"><%= cancelledProduct.quantity %> units</p>
                            <p class="cancelled-product-status"><%= cancelledProduct.productStatus %></p>
                            <p class="cancelled-product-reason">Cancel Reason: <%= cancelledProduct.cancelReason %></p>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
<% } %>

      

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    function showCancelConfirmation(productId,orderId,count) {
        Swal.fire({
            title: 'Cancel Order',
            input: 'text',
            inputLabel: 'Reason for cancellation',
            showCancelButton: true,
            confirmButtonText: 'Cancel Order',
            cancelButtonText: 'Close',
            preConfirm: (reason) => {
                if (!reason) {
                    Swal.showValidationMessage('Please enter a reason');
                }
                return reason;
            }
        }).then((result) => {
            if (result.isConfirmed) {
                const cancelReason = result.value;
                cancelProduct(productId,orderId, cancelReason,count);
            }
        });
    }

    function cancelProduct(productId,orderId, cancelReason,count) {
        $.ajax({
            type: 'POST',
            url: '/cancelorder',
            data: {productId, orderId, cancelReason,count},
            success: function (response) {
                if (response.success) {
                    Swal.fire('Order Canceled', 'Your order has been canceled.', 'success').then(() => {
                    location.reload();      
                    // $("#reloadDiv").load("/showcart #reloadDiv");
                    });
                } else {
                    Swal.fire('Error', 'Failed to cancel the order.', 'error');
                }

            },
            error: function (error) {
                console.error('Error canceling order', error);
            }
        });
    }



</script>
<script>
  function validateAndCancel(productId, orderId) {
      var quantityInput = document.getElementById('quantity');
      var quantityValue = parseInt(quantityInput.value, 10);

      if (quantityValue < parseInt(quantityInput.min, 10) || quantityValue > parseInt(quantityInput.max, 10)) {
          document.getElementById('error-message').innerText = 'Invalid quantity';
          return;
      }
      document.getElementById('error-message').innerText = '';
      showCancelConfirmation(productId, orderId, quantityValue);
  }
</script>





<%- include('../layouts/footer.ejs') -%>
