<%- include('../layouts/header.ejs') -%>
<br>
<div class="section section-padding">
    <div class="container"><hr><br>
        <div class="row">
            <div id="reloadArea">
            <h3 class="mt-4  text-center text-warning">ORDER DETAILS</h3><br>
                        <h4 class="name text-center text-muted">OrderId: <%= orderData._id %></h4>
                        <p class="text-center text-muted"><b>Date:</b>
                            <%= orderData.orderDate.toLocaleDateString('en-GB') %>
                            <br><b>Payment Method:</b>
                            <%= orderData.payment %><br>
                            <b>Address:</b>
                            <%= orderData.delivery_address.name %>,<%= orderData.delivery_address.address %> <br>
                            <b>Shipping:</b><%= orderData.delivery_address.pincode %>,<%= orderData.delivery_address.city %>
                            <br>
                        </p>
                <% if (orderData.products.length > 0) { %>
                    <div class="container mt-5">
                        <h3 class="mb-4 text-center">Ordered Products</h3>
                        <% orderData.products.forEach(function(product, index) { %>
                            <div class="card mt-3">
                                <div class="card-body d-flex justify-content-start">
                                    <div class="product-card d-flex">
                                        <div class="product-image">
                                            <a href="/detailshop?id=<%= product.productId._id %>">
                                                <img src="multerimages/<%= product.productId.images.image1 %>" alt=""
                                                    class="img-thumbnail" style="max-width: 280px;">
                                            </a>
                                        </div>
                                        <div class="mx-3" style="width: 180px;">
                                            <h5 class="product-details"><a
                                                    href="/detailshop?id=<%= product.productId._id %>">
                                                    <%= product.productId.name %>
                                                </a></h5>
                                            <p class="product-details">
                                                <%= product.productId.categoryId.name %> <br>
                                                Price: ₹<%= product.price %> <br>
                                                Quantity: <%= product.quantity %> <br>
                                                Total: ₹<%= product.totalPrice %> <br>
                                                Discounted:₹<%= product.price - product.totalPrice %> 
                                                <% if (orderData.orderStatus !== 'Cancelled' ||
                                                    product.productStatus === 'Cancelled') { %>
                                                        <br>
                                                        <button class="cancel-btn"
                                                            onclick="validateAndCancel('<%= product._id %>','<%= product.productId._id %>', '<%= orderData._id %>','<%= product.productStatus %>')"
                                                            <%=(product.productStatus==='out-for-delivery'
                                                            ) ? 'disabled' : '' %>>
                                                            <%= (product.productStatus==='delivered' )
                                                                ? 'Return order' :
                                                                (product.productStatus==='out-for-delivery'
                                                                ) ? 'No action' : 'Cancel order' %>
                                                        </button>
                                                <% } %>
                                            </p>
                                        </div>
                                    </div>
                                    <%console.log(product.productStatus,"helo")%>
                                    <div class="status-line">
                                        <div class="line">
                                          <div class="placed <%= (product.productStatus === 'shipped' || product.productStatus === 'out-for-delivery' || product.productStatus === 'delivered') ? 'green status-dot' : '' %>">
                                            <div class="status">Placed</div>
                                          </div>
                                          <div class="shipped <%= (product.productStatus === 'out-for-delivery' || product.productStatus === 'delivered') ? 'green status-dot' : '' %>">
                                            <div class="status">Shipped</div>
                                          </div>
                                          <div class="out-for-delivery <%= (product.productStatus === 'delivered') ? 'green status-dot' : '' %>">
                                            <div class="status">Out to Delivery</div>
                                          </div>
                                          <div class="delivered <%= (product.productStatus === 'delivered') ? 'green status-dot' : '' %>">
                                            <div class="status">Delivered</div>
                                          </div>
                                        </div>
                                      </div>
                                      
                                    </div>
                            </div>
                        <% }); %>
                    <% } %>
                    <% if (orderData.cancelledProduct && orderData.cancelledProduct.length > 0) { %>
                        <div class="container mt-5">
                            <h3 class="mb-4">Cancelled Products</h3>
                            <% orderData.cancelledProduct.forEach(function(cancelledProduct, index) { %>
                                <div class="card mt-3">
                                    <div class="card-body d-flex justify-content-start">
                                        <div class="cancelled-product-card d-flex">
                                            <div class="cancelled-product-image ">
                                                <a
                                                    href="/detailshop?id=<%= cancelledProduct.productDetails._id %>">
                                                    <img src="multerimages/<%= cancelledProduct.productDetails.images.image1 %>"
                                                        alt="" class="img-thumbnail"
                                                        style="max-height: 250px; max-width: 150px;">
                                                </a>
                                            </div>
                                            <div class="mx-3 " style="width: 180px;">
                                                <div class="product-details">
                                                    <h5 class="product-details"><a
                                                            href="/detailshop?id=<%= cancelledProduct.productDetails._id %>">
                                                            <%= cancelledProduct.productDetails.name %>
                                                        </a></h5>
                                                    <p>Price:₹ <%= cancelledProduct.productDetails.price %>
                                                        <br>Quantity: <%= cancelledProduct.quantity %>
                                                        <br>Status: <%= cancelledProduct.productStatus %>
                                                        <br>Cancel Reason: <%= cancelledProduct.cancelReason %>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="status-cancel">
                                            <div class="line cancel">
                                                <div class="inner-line-1"></div>
                                                <div class="status">Packed</div>
                                            </div>
                                            <div class="line cancelLine">
                                                <div class="inner-line-2"></div>
                                                <div class="status">Cancelled</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% }); %>
                        <% } %>
                        <br><br>
                        <%console.log(orderData,'fsssssssssssssss')%>
                        <% if (orderData.returnedProduct && orderData.returnedProduct.length > 0) { %>
                            <div class="container mt-5">
                                <h3 class="mb-4">Returned Products</h3>
                                <% orderData.returnedProduct.forEach(function(returnedProduct, index) { %>
                                    <div class="card mt-3">
                                        <div class="card-body d-flex justify-content-start">
                                            <div class="cancelled-product-card d-flex">
                                                <div class="cancelled-product-image ">
                                                    <a
                                                        href="/detailshop?id=<%= returnedProduct.productDetails._id %>">
                                                        <img src="multerimages/<%= returnedProduct.productDetails.images.image1 %>"
                                                            alt="" class="img-thumbnail"
                                                            style="max-height: 250px; max-width: 150px;">
                                                    </a>
                                                </div>
                                                <div class="mx-3 " style="width: 180px;">
                                                    <div class="product-details">
                                                        <h5 class="product-details"><a
                                                                href="/detailshop?id=<%= returnedProduct.productDetails._id %>">
                                                                <%= returnedProduct.productDetails.name %>
                                                            </a></h5>
                                                        <p>Price:₹ <%= returnedProduct.productDetails.price %>
                                                            <br>Quantity: <%= returnedProduct.quantity %>
                                                            <br>Status: <%= returnedProduct.productStatus %>
                                                            <br>return Reason: <%= returnedProduct.returnReason %>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="status-cancel">
                                                <div class="line cancel" id="cancel">
                                                    <div class="inner-line-1"></div>
                                                    <div class="status">Packed</div>
                                                </div>
                                                <div class="line cancelLine" id="cancelLine">
                                                    <div class="inner-line-2"></div>
                                                    <div class="status">returned</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% }); %>
                            <% } %>
                            <br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><br>
    


    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>
        function validateAndCancel(id,productId, orderId, status) {
            if (status == 'delivered') {
                showReturnConfirmation(id,productId, orderId)
            } else {
                showCancelConfirmation(id,productId, orderId);
            }
        }
    </script>

    <script>
        function showReturnConfirmation(id,productId, orderId) {
            console.log('rech2');
            Swal.fire({
                title: 'Cancel Order',
                input: 'text',
                inputLabel: 'Reason for return',
                showCancelButton: true,
                confirmButtonText: 'return Order',
                cancelButtonText: 'Close',
                preConfirm: (reason) => {
                    if (!reason) {
                        Swal.showValidationMessage('Please enter a reason');
                    }
                    return reason;
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    const returnReason = result.value;
                    returnProduct(id,productId, orderId, returnReason);
                }
            });
        }

        function returnProduct(id,productId, orderId, returnReason) {
            $.ajax({
                type: 'POST',
                url: '/returnorder',
                data: {id, productId, orderId, returnReason },
                success: function (response) {
                    if (response.success) {
                        Swal.fire('Cancel Canceled', 'Your order has been returned.', 'success').then(() => {
                            location.reload();
                            // $("#reloadDiv").load("/showcart #reloadDiv");
                        });
                    } else {
                        Swal.fire('Error', 'Failed to return the order.', 'error');
                    }
                },
                error: function (error) {
                    console.error('Error returnig order', error);
                }
            });
        }

        //cancelllllllllllllllllllll

        function showCancelConfirmation(id,productId, orderId) {
            console.log('rech2');
            Swal.fire({
                title: 'cancel Order',
                input: 'text',
                inputLabel: 'Reason for cancel',
                showCancelButton: true,
                confirmButtonText: 'cancel Order',
                cancelButtonText: 'Close',
                preConfirm: (reason) => {
                    if (!reason) {
                        Swal.showValidationMessage('Please enter a reason');
                    }
                    return reason;
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    const cancelReason = result.value;
                    cancelProduct(id,productId, orderId, cancelReason);
                }
            });
        }

        function cancelProduct(id,productId, orderId, cancelReason) {
            $.ajax({
                type: 'POST',
                url: '/cancelorder',
                data: {id, productId, orderId, cancelReason },
                success: function (response) {
                    if (response.success) {
                        Swal.fire('Order Canceled', 'Your order has been canceled.', 'success').then(() => {
                            location.reload();
                            // $("#reloadDiv").load("/showcart #reloadDiv");
                        });
                    } else {
                        Swal.fire('Error', 'Failed to cancel the order.', 'error');
                    }

                },
                error: function (error) {
                    console.error('Error canceling order', error);
                }
            });
        }



    </script>






    <%- include('../layouts/footer.ejs') -%>