<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Invoice</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 20px;
            background-color: #f8f9fa;
            color: #495057;
        }

        section.content-main {
            margin: 20px;
        }

        .card-container {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: space-between;
        }

        .card {
            border: 1px solid #ddd;
            border-radius: 8px;
            padding: 20px;
            width: 31%; /* Adjust the width based on your preference */
            box-sizing: border-box;
            height: 180px;
            background-color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s;
        }

        .card:hover {
            transform: translateY(-5px);
        }

        h2.content-title {
            margin-bottom: 10px;
            color: #007bff;
        }

        .order-info-wrap {
            margin-top: 20px;
        }

        article.icontext {
            display: flex;
            align-items: start;
        }

        article.icontext .icon {
            margin-right: 15px;
        }

        table.table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            background-color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        table.table th, table.table td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        table.table th {
            background-color: #f2f2f2;
        }

        footer.main-footer {
            margin-top: 20px;
            font-size: 12px;
            background-color: #343a40;
            color: #fff;
            padding: 10px;
            text-align: center;
        }

        footer.main-footer a {
            color: #fff;
        }
    </style>
</head>
<body>
    <hr>
    <section class="content-main">
        <div class="content-header">
            <h2 class="content-title">Order Detail</h2>
            <p>Order ID: <%=orderData._id%></p>
        </div>
        
        <div class="card-container">
            <div class="card">
                <article class="icontext">
                    <div class="text">
                        <p class="mb-1">
                            <b>Customer</b><br>
                            <%= orderData.delivery_address.name %> <br>
                            <%= orderData.delivery_address.email %> <br>
                            <%= orderData.delivery_address.phone %> <br>
                        </p>
                    </div>
                </article>
            </div>

            <div class="card">
                <article class="icontext">
                    <div class="text">
                        <p class="mb-1">
                            <b>Order Info</b><br>
                            Total Amount: ₹<%= orderData.subtotal %><br>
                            Payment: <%= orderData.payment %><br>
                            Payment Date:<%= orderData.orderDate.toLocaleDateString('en-US', {year: 'numeric', month: 'short', day: 'numeric' }) %><br>
                        </p>
                    </div>
                </article>
            </div>

            <div class="card">
                <article class="icontext">
                    <div class="text">
                        <p class="mb-1">
                            <b>Deliver to</b><br>
                            Address: <%= orderData.delivery_address.address %><br>
                            City: <%= orderData.delivery_address.city %> <br>
                            Pincode: <%= orderData.delivery_address.pincode %> <br>
                            State: <%= orderData.delivery_address.state %> <br>
                            Landmark: <%= orderData.delivery_address.landmark %> <br>
                        </p>
                    </div>
                </article>
            </div>
        </div>

        <p>ORDERED PRODUCTS</p>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th width="5%">#</th>
                        <th width="25%">Name</th>
                        <th width="15%">Unit Price</th>
                        <th width="15%">Quantity</th>
                        <th width="20%">Total</th>
                        <th width="20%">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <% orderData.products.forEach((product, index) => { %>
                        <tr>
                            <td><%=index + 1%></td>
                            <td><%= product.productId.name %></td>
                            <td>₹<%= product.productId.price %></td>
                            <td><%= product.quantity %></td>
                            <td>₹<%= product.totalPrice %></td>
                            <td><%= product.productStatus %></td>
                        </tr>
                    <% }); %>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    <footer class="main-footer">
        <div class="row">
            <script>
                document.write(new Date().getFullYear());
            </script>
            &copy; Nest - HTML Ecommerce Template.
            <div class="col-sm-6 text-sm-end">
                All rights reserved
            </div>
        </div>
    </footer><br><br>
    <hr>
</body>
</html>
