<%- include('../layouts/header.ejs') -%>


    <br>
    <!-- Shop Section Start --> 
    <div class="section section-padding">
        
        <div class="container"><hr><br><br><br>
            <!-- Product Section Wrapper Start -->
            <div class="product-section-wrapper">
                <div class="row flex-row-reverse">
                    <div class="col-lg-9">
                        <!-- Shop top Bar Start -->
                        <div class="shop-top-bar">
                            <div class="shop-text">
                                <p>
                                    <span>12</span> Product Found of
                                    <span>30</span>
                                </p>
                            </div>
                            <div class="shop-tabs">
                                <ul class="nav">
                                    <li>
                                        <button class="active" data-bs-toggle="tab" data-bs-target="#grid">
                                            <i class="fa fa-th"></i>
                                        </button>
                                    </li>
                                    <li>
                                        <button data-bs-toggle="tab" data-bs-target="#list">
                                            <i class="fa fa-list"></i>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                            <div class="shop-sort">
                                <span class="title">Sort By price:</span>
                                <select class="select2-2" onchange="updateSort()">
                                    <option><i class="fa-solid fa-arrow-down"></i></option>
                                    <option value="low-to-high" <%= sort === 'low-to-high' ? 'selected' : '' %>>Low to High</option>
                                    <option value="high-to-low" <%= sort === 'high-to-low' ? 'selected' : '' %>>High to Low</option>
                                </select>
                            </div>
                        </div>
                        <!-- Shop top Bar End -->

                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="grid">
                                <!-- Shop Product Wrapper Start -->
                                <div class="shop-product-wrapper" id="reloadDiv">
                                    <div class="row">
                                        <p class="text-center mt-5"><%= typeof totalPages === 'string' ? totalPages : '' %></p>
                                        <%console.log(totalPages,'ssss')%>
                                        <% product.forEach(product=> { %>
                                            <% if (!product.is_blocked) { %>
                                                <div class="col-lg-4 col-sm-6">
                                                    <!-- Single Product Start -->
                                                    <div class="single-product">
                                                        <a href="/detailshop?id=<%=product._id%>"><img 
                                                                src="sharpimages/<%=product.images.image1 %>"
                                                                width="270" height="303" alt="product" />
                                                                <% if (product.offer) { %>
                                                                    <div style="position: absolute; top: 4px; left: 4px; background-color: #ffb300; color: #ffffff; padding: 5px; font-size: 12px;">
                                                                        <%= Math.floor(((product.price-product.discountedPrice)/product.price)*100)%>% Off
                                                                    </div>
                                                                <% } %></a>   
                                                        <div class="product-content">
                                                            <h4 class="title">
                                                                <a href="/detailshop?id=<%=product._id%>">
                                                                    <%= product.name %>
                                                                </a>
                                                                <% if (product.quantity==0){ %>Out of Stock<%}%>
                                                            </h4>
                                                            <div class="price">
                                                                <%if(!product.discountedPrice){%>
                                                                    <span class="sale-price">₹<%=product.price%></span>
                                                                <%}else{%>
                                                                    <span class="old-price">₹<%=product.price%></span>&nbsp;&nbsp;<span class="sale-price">₹<%=product.discountedPrice%></span>
                                                                <%}%>
                                                            </div>
                                                        </div>
                                                        <ul class="product-meta">
                                                            <li>
                                                                <a class="action" onclick="addToCart('<%= product._id%>')" ><i
                                                                class="pe-7s-shopbag"></i></a>
                                                            </li>
                                                            <li>
                                                                <a id="wishlist-icon" class="action" onclick="addToWishlist('<%= product._id %>')">
                                                                  <i class="pe-7s-like"></i>
                                                                </a>
                                                              </li>
                                                        </ul>
                                                    </div>

                                                    <!-- Single Product End -->
                                                    <style>
                                                        .blink {
                                                          animation: blink-animation 1s steps(5, start) infinite;
                                                        }
                                                      
                                                        @keyframes blink-animation {
                                                          to {
                                                            visibility: hidden;
                                                          }
                                                        }
                                                      </style>
                                                </div>
                                                <%}%>
                                            <% }); %>
                                    </div>
                                </div>
                                <!-- Shop Product Wrapper End -->
                            </div>

                        </div>

                        <!-- Page pagination Start -->
                        <div class="page-pagination">
                            <!-- Assuming you have a variable hasNextPage from your backend -->
                            <ul class="pagination justify-content-center">
                                <% for (let i = 1; i <= totalPages; i++) { %>
                                  <li class="page-item <%= i === page ? 'active' : '' %>">
                                    <a class="page-link" href="/shop?page=<%= i %>&pageSize=<%= pageSize %>">
                                      <%= i %>
                                    </a>
                                  </li>
                                <% } %>
                              </ul>

                          </div>
                        <!-- Page pagination End -->
                    </div>
                    <div class="col-lg-3">
                        <!-- Sidebar Start -->
                        <div class="sidebar">
                            <!-- Sidebar Widget Start -->
                            <div class="sidebar-widget">
                                <div class="widget-search">
                                    <form action="#">
                                        <input type="text" placeholder="Search">
                                        <button><i class="fa fa-search"></i></button>
                                    </form>
                                </div>
                            </div>
                            <!-- Sidebar Widget End -->
                            <!-- Sidebar Widget Start -->
                            <div class="sidebar-widget">

                                <h4 class="widget-title">Filter By Categories</h4>

                                <div class="widget-checkbox widget-categories">
                                    <form id="categoryFilterForm" action="/shop" method="GET">
                                        <ul class="checkbox-items">
                                          <% category.forEach((data, index) => { %>
                                            <li>
                                              <input type="checkbox" id="checkbox<%= index + 1 %>"
                                                class="category-checkbox" name="category" value="<%= data._id %>"
                                                <% if (selectedCategory && selectedCategory.includes(String(data._id))) { %>checked<% } %>>
                                              <label for="checkbox<%= index + 1 %>">
                                                <span></span>
                                                <%= data.name %>
                                              </label>
                                            </li>
                                          <% }) %>
                                        </ul>
                                        <button class="user-btn mt-5" style="margin-left: 75px;" type="submit">Apply</button>
                                      </form>                                      
                                </div>
                            </div>
                            <!-- Sidebar Widget End -->

                            <!-- Sidebar Widget Start -->
                            <div class="sidebar-widget">

                                <h4 class="widget-title">Filter By Price</h4>

                                <div class="widget-price">
                                    <input id="price-range" type="text">
                                </div>
                            </div>
                            <!-- Sidebar Widget End -->


                        </div>
                        <!-- Sidebar End -->
                    </div>
                </div>
            </div>
            <!-- Product Section Wrapper End -->
        </div>
    </div>
    <!-- Shop Section End -->

<script>
document.addEventListener('DOMContentLoaded', function() {
  const categoryFilterForm = document.getElementById('categoryFilterForm');



  categoryFilterForm.addEventListener('submit', function(event) {
    event.preventDefault();
    const selectedCategories = Array.from(document.querySelectorAll('.category-checkbox:checked'))
      .map((checkbox) => checkbox.value);

    categoryFilterForm.action = `/shop?category=${selectedCategories.join(',')}`;
    categoryFilterForm.submit();
  });

})
    </script>

    <script>
document.addEventListener('DOMContentLoaded', () => {
    const searchForm = document.querySelector('.widget-search form');
    const searchInput = searchForm.querySelector('input');

    const urlParams = new URLSearchParams(window.location.search);
    const searchQuery = urlParams.get('search');

    if (searchQuery !== null) {
        searchInput.value = searchQuery;
    }

    searchForm.addEventListener('submit', (event) => {
        event.preventDefault();
        const enteredSearchQuery = searchInput.value.trim();
        const currentUrl = window.location.search 

        const newUrlParams = new URLSearchParams(window.location.search);
        newUrlParams.set('search', enteredSearchQuery);
        const newUrl = `/shop?${newUrlParams.toString()}`;

        window.location.href = newUrl;
    });
}); 

    </script>


    <script>
function updateSort() {
    const selectedOption = document.querySelector(".select2-2").value;
    const baseUrl = "/shop";
    const existingParams = new URLSearchParams(window.location.search);

    // Remove existing 'sort' parameter
    existingParams.delete('sort');

    const queryParams = existingParams.toString() ? `${existingParams.toString()}&sort=${selectedOption}` : `?sort=${selectedOption}`;
    const newUrl = `${baseUrl}?${queryParams}`;

    window.location.href = newUrl;
}

</script>


    <%- include('../layouts/footer.ejs') -%>