<%- include('../layouts/header.ejs') -%>


    <br>
    <!-- Shop Section Start --> 
    <div class="section section-padding">
        
        <div class="container"><hr><br><br><br>
            <!-- Product Section Wrapper Start -->
            <div class="product-section-wrapper">
                <div class="row flex-row-reverse">
                    <div class="col-lg-9">
                        <!-- Shop top Bar Start -->
                        <div class="shop-top-bar">
                            <div class="shop-text">
                                <p>
                                    <span><%=product.length%></span> Product Found of
                                    <span><%=totalProductsCount%></span>
                                </p>
                            </div>
                            <div class="shop-sort">
                                <span class="title">Sort By price:</span>
                                <select class="select2-2" onchange="updateSort()">
                                    <option value="none" selected>default</option>
                                    <option value="low-to-high" <%= sort === 'low-to-high' ? 'selected' : '' %>>Low to High</option>
                                    <option value="high-to-low" <%= sort === 'high-to-low' ? 'selected' : '' %>>High to Low</option>
                                </select>

                            </div>
                        </div>
                        <!-- Shop top Bar End -->

                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="grid">
                                <!-- Shop Product Wrapper Start -->
                                <div class="shop-product-wrapper" >
                                    <div class="row" id="productContainer">
                                        <p class="text-center mt-5"><%= typeof totalPages === 'string' ? totalPages : '' %></p>
                                        <%console.log(totalPages,'ssss')%>
                                        <% product.forEach(product=> { %>
                                            <% if (!product.is_blocked && !product.isCategoryBlocked) { %>
                                                <div class="col-lg-4 col-sm-6" >
                                                    <!-- Single Product Start -->
                                                    <div class="single-product">
                                                        <a href="/detailshop?id=<%=product._id%>"><img 
                                                                src="multerimages/<%=product.images.image1 %>"
                                                            alt="product" />
                                                                <% if (product.offer) { %>
                                                                    <div style="position: absolute; top: 4px; left: 4px; background-color: #ffb300; color: #ffffff; padding: 5px; font-size: 12px;">
                                                                        <%= Math.floor(((product.price-product.discountedPrice)/product.price)*100)%>% Off
                                                                    </div>
                                                                <% } %></a>
                                                        <div class="product-content">
                                                            <h4 class="title d-flex">
                                                                <a href="/detailshop?id=<%=product._id%>">
                                                                    <%= product.name %>
                                                                </a>      
                                                                <div class="mx-3">        
                                                                <% if (product.quantity === 0) { %>
                                                                    <p style="color: red;">Out of Stock</p>
                                                                  <% } else if (product.quantity === 1) { %>
                                                                    <p style="color: red;">Only 1 left</p>
                                                                  <% } else if (product.quantity === 2) { %>
                                                                    <p style="color: red;">Only 2 left</p>
                                                                  <% } else if (product.quantity === 4) { %>
                                                                    <p style="color: green;">Only a few left</p>
                                                                  <% } %>
                                                                  </div>
                                                            </h4>
                                                            <div class="price">
                                                                <%if(!product.discountedPrice){%>
                                                                    <span class="sale-price">₹<%=product.price%></span>
                                                                <%}else{%>
                                                                    <span class="old-price">₹<%=product.price%></span>&nbsp;&nbsp;<span class="sale-price">₹<%=product.discountedPrice%></span>
                                                                <%}%>
                                                            </div>
                                                            </div>
                                                        <div id="reloadWishlist_<%= product._id %>">
                                                            <ul class="product-meta">
                                                                <li>
                                                                    <a class="action" style="color: #000000;" onclick="addToCart('<%= product._id %>')">
                                                                        <i class="pe-7s-shopbag"></i>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a class="action" onclick="addToWishlist('<%= product._id %>')">
                                                                        <i id="wishlist-icon_<%= product._id %>" class=" <%= wishlistData.includes(product._id.toString()) ? 'fa-solid' : 'fa-regular' %> fa-heart"></i>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <!-- Single Product End -->
                                                </div>
                                            <% } %>
                                        <% }); %>
                                    </div>
                                </div>
                                <!-- Shop Product Wrapper End -->
                            </div>
                        </div>
                        <!-- Page pagination Start -->
                        <div class="page-pagination">
                            <!-- Assuming you have a letiable hasNextPage from your backend -->
                            <ul class="list-unstyled pagination d-flex justify-content-center">
                                <% if(product.length >= 7){ %>
                                <li><a href="javascript:void(0);" id="backPageLink" onclick="changePage(-1)"><i class="fas fa-chevron-left mx-4"></i></a></li>
                                <li><a href="javascript:void(0);" id="nextPageLink" onclick="changePage(1)"><i class="fas fa-chevron-right"></i></a></li>
                                <% } %>
                            </ul>
                          </div>
                        <!-- Page pagination End -->
                    </div>
                    <div class="col-lg-3">
                        <!-- Sidebar Start -->
                        <div class="sidebar">
                            <!-- Sidebar Widget Start -->
                            <div class="sidebar-widget">
                                <div class="widget-search">
                                    <form action="#">
                                        <input type="text" placeholder="Search">
                                        <button><i class="fa fa-search"></i></button>
                                    </form>
                                </div>
                            </div>
                            <!-- Sidebar Widget End -->
                            <!-- Sidebar Widget Start -->
                            <div class="sidebar-widget">

                                <h4 class="widget-title">Filter By Categories</h4>

                                <div class="widget-checkbox widget-categories">
                                    <form id="categoryFilterForm" action="/shop" method="GET">
                                        <ul class="checkbox-items">
                                          <% category.forEach((data, index) => { %>
                                            <% if (!data.is_blocked) { %>
                                            <li>
                                              <input type="checkbox" id="checkbox<%= index + 1 %>"
                                                class="category-checkbox" name="category" value="<%= data._id %>"
                                                <% if (selectedCategory && selectedCategory.includes(String(data._id))) { %>checked<% } %>>
                                              <label for="checkbox<%= index + 1 %>">
                                                <span></span>
                                                <%= data.name %>
                                              </label>
                                            </li>
                                            <% } %>
                                          <% }) %>
                                        </ul>
                                        <button class="user-btn mt-5" style="margin-left: 75px;" type="submit">Apply</button>
                                      </form>                                      
                                </div>
                            </div>
                            <!-- Sidebar Widget End -->
                        </div>
                        <!-- Sidebar End -->
                    </div>
                </div>
            </div>
            <!-- Product Section Wrapper End -->
        </div>
    </div>
    <!-- Shop Section End -->

<script>
document.addEventListener('DOMContentLoaded', function() {
  const categoryFilterForm = document.getElementById('categoryFilterForm');



  categoryFilterForm.addEventListener('submit', function(event) {
    event.preventDefault();
    const selectedCategories = Array.from(document.querySelectorAll('.category-checkbox:checked'))
      .map((checkbox) => checkbox.value);

    categoryFilterForm.action = `/shop?category=${selectedCategories.join(',')}`;
    categoryFilterForm.submit();
  });

})
    </script>

    <script>
document.addEventListener('DOMContentLoaded', () => {
    const searchForm = document.querySelector('.widget-search form');
    const searchInput = searchForm.querySelector('input');
    const urlParams = new URLSearchParams(window.location.search);
    const searchQuery = urlParams.get('search');

    if (searchQuery !== null) {
        searchInput.value = searchQuery;
    }
    searchForm.addEventListener('submit', (event) => {
        event.preventDefault();
        const enteredSearchQuery = searchInput.value.trim();
        const currentUrl = window.location.search 

        const newUrlParams = new URLSearchParams(window.location.search);
        newUrlParams.set('search', enteredSearchQuery);
        const newUrl = `/shop?${newUrlParams.toString()}`;

        window.location.href = newUrl;
    });
}); 

    </script>


    <script>
function updateSort() {
    const selectedOption = document.querySelector(".select2-2").value;
    const baseUrl = "/shop";
    const existingParams = new URLSearchParams(window.location.search);

    if (selectedOption !== 'none') {
        existingParams.set('sort', selectedOption);
    } else {
        existingParams.delete('sort');
    }

    const queryParams = existingParams.toString();
    const newUrl = queryParams ? `${baseUrl}?${queryParams}` : baseUrl;

    window.location.href = newUrl;
}


</script>



<script>
    let currentPage = 1;
    let products = '<%= JSON.stringify(product)%>';
    let nextPageLink = document.getElementById("nextPageLink");
    let backPageLink = document.getElementById("backPageLink")
        nextPageLink.addEventListener("click", function() {
            nextPageLink.style.display = "none";
        });
        backPageLink.addEventListener("click", function() {
            nextPageLink.style.display = "block";
        });
    let productsPerPage = 7
    console.log(products);
    function showProducts() {
        let startIndex = (currentPage - 1) * productsPerPage;
        let endIndex = startIndex + productsPerPage;

        for (let i = 0; i < products.length; i++) {
            let productElement = document.getElementById('productContainer').children[i];
        if(productElement){
            if (i >= startIndex && i < endIndex) {
                productElement.style.display = 'block';
            } else {
                productElement.style.display = 'none';
            }
        }
        }
    }

    function changePage(change) {
        currentPage += change;
        if (currentPage < 1) {
            currentPage = 1;
        } else if (currentPage > Math.ceil(products.length / productsPerPage)) {
            currentPage = Math.ceil(products.length / productsPerPage);
        }
        showProducts();
    }

    showProducts();
</script>


    <%- include('../layouts/footer.ejs') -%>