<%- include('../layouts/header.ejs') -%>

    <!-- Page Banner Section Start -->
    <div class="section page-banner-section" style="background-image: url(asset/images/page-banner.jpg)">
        <div class="container">
            <!-- Page Banner Content End -->
            <div class="page-banner-content">
                <h2 class="title">Shop Page</h2>

                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Shop Page</li>
                </ul>
            </div>
            <!-- Page Banner Content End -->
        </div>
    </div>
    <!-- Page Banner Section End -->

    <!-- Shop Section Start -->
    <div class="section section-padding">
        <div class="container">
            <!-- Product Section Wrapper Start -->
            <div class="product-section-wrapper">
                <div class="row flex-row-reverse">
                    <div class="col-lg-9">
                        <!-- Shop top Bar Start -->
                        <div class="shop-top-bar">
                            <div class="shop-text">
                                <p>
                                    <span>12</span> Product Found of
                                    <span>30</span>
                                </p>
                            </div>
                            <div class="shop-tabs">
                                <ul class="nav">
                                    <li>
                                        <button class="active" data-bs-toggle="tab" data-bs-target="#grid">
                                            <i class="fa fa-th"></i>
                                        </button>
                                    </li>
                                    <li>
                                        <button data-bs-toggle="tab" data-bs-target="#list">
                                            <i class="fa fa-list"></i>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                            <div class="shop-sort">
                                <span class="title">Sort By :</span>
                                <select class="select2-2">
                                    <option value="featured">
                                        Featured
                                    </option>
                                    <option value="rating">Rating</option>
                                    <option value="price">Price</option>
                                </select>
                            </div>
                        </div>
                        <!-- Shop top Bar End -->

                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="grid">
                                <!-- Shop Product Wrapper Start -->
                                <div class="shop-product-wrapper" id="reloadDiv">
                                    <div class="row">
                                        <% product.forEach(product=> { %>
                                            <% if (!product.is_blocked) { %>
                                                <div class="col-lg-4 col-sm-6">
                                                    <!-- Single Product Start -->
                                                    <div class="single-product">
                                                        <a href="/detailshop?id=<%=product._id%>"><img 
                                                                src="sharpimages/<%=product.images.image1 %>"
                                                                width="270" height="303" alt="product" />
                                                                <%=console.log(product.offer)%>
                                                                <% if (product.offer) { %>
                                                                    <div style="position: absolute; top: 0; left: 0; background-color: #ccff00; color: #ffffff; padding: 5px;">
                                                                        <%= product.offer.discountAmount %>% Off
                                                                    </div>
                                                                <% } %></a>   
                                                        <div class="product-content">
                                                            <h4 class="title">
                                                                <a href="product-details.html">
                                                                    <%= product.name %>
                                                                </a>
                                                                <% if (product.quantity==0){ %>Out of Stock<%}%>
                                                            </h4>
                                                            <div class="price">
                                                                <%if(!product.discountedPrice){%>
                                                                    <span class="sale-price">₹<%=product.price%></span>
                                                                <%}else{%>
                                                                    <span class="old-price">₹<%=product.price%></span>&nbsp;&nbsp;<span class="sale-price">₹<%=product.discountedPrice%></span>
                                                                <%}%>
                                                            </div>
                                                        </div>
                                                        <ul class="product-meta">
                                                            <li>
                                                                <a class="action" data-bs-toggle="modal"
                                                                    data-bs-target="#quickView" href="#"><i
                                                                        class="pe-7s-search"></i></a>
                                                            </li>
                                                            <li>
                                                                <a class="action" href="#"><i
                                                                        class="pe-7s-shopbag"></i></a>
                                                            </li>
                                                            <li>
                                                                <a class="action" href="#"><i
                                                                class="pe-7s-like"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <!-- Single Product End -->
                                                </div>
                                                <%}%>
                                            <% }); %>
                                    </div>
                                </div>
                                <!-- Shop Product Wrapper End -->
                            </div>

                        </div>

                        <!-- Page pagination Start -->
                        <div class="page-pagination">
                            <ul class="pagination justify-content-center">
                                <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-left"></i></a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link active" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#"><i
                                            class="fa fa-angle-right"></i></a></li>
                            </ul>
                        </div>
                        <!-- Page pagination End -->
                    </div>
                    <div class="col-lg-3">
                        <!-- Sidebar Start -->
                        <div class="sidebar">
                            <!-- Sidebar Widget Start -->
                            <div class="sidebar-widget">
                                <div class="widget-search">
                                    <form action="#">
                                        <input type="text" placeholder="Search">
                                        <button><i class="fa fa-search"></i></button>
                                    </form>
                                </div>
                            </div>
                            <!-- Sidebar Widget End -->
                            <!-- Sidebar Widget Start -->
                            <div class="sidebar-widget">

                                <h4 class="widget-title">Filter By Categories</h4>

                                <div class="widget-checkbox widget-categories">
                                    <ul class="checkbox-items">
                                        <% category.forEach((data, index) => { %>
                                          <li>
                                            <input type="checkbox" id="checkbox<%= index + 1 %>"
                                              class="category-checkbox" data-category="<%= data._id %>"
                                              <% if (selectedCategories.includes(String(data._id))) { %>checked<% } %>
                                            >
                                            <label for="checkbox<%= index + 1 %>">
                                              <span></span>
                                              <%= data.name %>
                                            </label>
                                          </li>
                                        <% }) %>
                                      </ul>
                                      
                                      
                                </div>
                            </div>
                            <!-- Sidebar Widget End -->

                            <!-- Sidebar Widget Start -->
                            <div class="sidebar-widget">

                                <h4 class="widget-title">Filter By Price</h4>

                                <div class="widget-price">
                                    <input id="price-range" type="text">
                                </div>
                            </div>
                            <!-- Sidebar Widget End -->


                        </div>
                        <!-- Sidebar End -->
                    </div>
                </div>
            </div>
            <!-- Product Section Wrapper End -->
        </div>
    </div>
    <!-- Shop Section End -->




    <script>
$(document).ready(function () {
  console.log('heloooooo');
  var selectedCategories = [];

  // Event handler for checkbox change
  $(".category-checkbox").change(function () {
    console.log('heloooooo22');
    var categoryId = $(this).data("category");
    var isChecked = $(this).prop("checked");

    if (isChecked) {
      console.log('checl');
      selectedCategories.push(categoryId);
    } else {
      console.log('checl3');
      selectedCategories = selectedCategories.filter(id => id !== categoryId);
    }

    $.ajax({
      url: '/categoryfilter',
      method: 'POST',
      data: { category: selectedCategories },
      success: function (response) {
        console.log(response);
        if (response.products.length === 0) {
          history.pushState(null, '', '/shop');
        } else {
          history.pushState(null, '', '/shop?filteredProducts=' + encodeURIComponent(JSON.stringify(response.products)) + '&categories=' + encodeURIComponent(JSON.stringify(selectedCategories)));
        }
        location.reload();
      },
      error: function (error) {
        console.error('Error:', error);
      }
    });
  });

  window.addEventListener('popstate', function (event) {
   
    location.reload();
  });
});


    </script>

    <%- include('../layouts/footer.ejs') -%>